/* src/components/posts/CreatePost.module.css */

.createPostContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input, .textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.button {
  padding: 10px;
  border: none;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: linear-gradient(45deg, #e6683c 0%, #dc2743 25%, #cc2366 50%, #bc1888 75%, #9b4a96 100%);
}
.preview{
  max-width: fit-content;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}
